<app-navbar></app-navbar>

<p class="md:text-9xl sm:text-4xl mt-9 text-2xl text-black-600 text-center font-bold  md:h-full ">NoteEvent</p>

<div class="flex place-items-center grid grid-cols-2 gap-2">
    <div class="m-20 w-full max-w-xs col-start-1 ...">
        <form  #saveData ="ngForm" (ngSubmit) = "saveNote()" class="bg-emerald-50 shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
            Name
            </label>
            <input [formControl]="nameForm" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="nameForm" type="text" placeholder="Name">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
            Description
            </label>
            <input [formControl]="descriptionForm" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="descriptionForm" type="text" placeholder="Description">
        </div>
        <div class="flex items-center justify-between">
            <input class="bg-lime-500 hover:bg-lime-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" type = "submit" value = "add">
        </div>
        </form>
    </div>
    <div class="flex mt-9 col-start-2 grid">
    <a href="#" *ngFor="let note of notes" class="mt-2 block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{note.name}}</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">{{note.description}}</p>
        </a>
    </div>
</div>

